body {
  background-color: red;
  div {
    color: #fff;
    height: 128px;
    width: 128px;
    &.pic1 {
      background: #fff url('../img/01@2x.png') 0 0 no-repeat;
    }
    &.pic2 {
      background: #fff url('../img/03@2x.png') 0 0 no-repeat;
    }
    &.pic3 {
      background: #fff url('../img/03@2x.png') 0 0 no-repeat;
    }
    &.pic4 {
      background: #fff url('../img/04@2x.png') 0 0 no-repeat;
    }
  }
  p {
    color: yellow;
  }
}
