<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  hello world112345
  <div class="pic pic1"></div>
  <div class="pic pic2"></div>
  <div class="pic pic3"></div>
  <img src="/static/img/img1.jpg" data-src="/static/img/img1.jpg">
  <%= require('html-loader!./template/footer.html') %>
<script type="text/javascript" src="/static/js/manifest.bundle.931e6.js?931e6435bf583a4c05bf"></script><script type="text/javascript" src="/static/js/vendor.bundle.931e6.js?931e6435bf583a4c05bf"></script></body>
</html>
